{% extends "base.html" %}

    {% block content %}
    {% load crispy_forms_tags %}
     <div class="container d-flex justify-content-center align-items-center min-vh-90">
        <div class="col-11 col-sm-9 col-md-9 col-lg-6">
            <div class="card shadow border-0">
                <div class="card-header bg-dark text-white py-3">
                    <h4 class="mb-0 h5">Forgot Password</h4>
                </div>
                <div class="card-body p-4">
                    {% include "alerts.html" %}
                    <form action="{% url 'forgotpassword' %}" method="post" style="max-width: 500px; width: 100%; margin: auto;">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-warning btn-block text-dark font-weight-bold shadow-sm">Submit</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}