{% extends "base.html" %}

    {% block content %}
{% if request.GET.command == 'verification' %}

<div class="container max-auto alert alert-info text-center" role="alert" style="max-width: 850px; margin-top: 100px;">
Registration Successful. We have send a mail to your email adderss [{{ request.GET.email }}] Please verify it.
<br>
<br>
Already verified? <a href="{% url 'login' %}">Login</a>
</div>

{% else %}

    {% load crispy_forms_tags %}
     <div class="container d-flex justify-content-center align-items-center min-vh-90">
        <div class="col-11 col-sm-9 col-md-9 col-lg-6">
            <div class="card shadow border-0">
                <div class="card-header bg-dark text-white py-3">
                    <h4 class="mb-0 h5">Login</h4>
                </div>
                <div class="card-body p-4">
                    {% include "alerts.html" %}
                    <form action="{% url 'login' %}" method="post" style="max-width: 500px; width: 100%; margin: auto;">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-warning text-dark font-weight-bold shadow-sm">Login</button>
                            <p class="text-center mt-4"><a href="{% url 'forgotpassword' %}">Forgot Password</a></p>
                        </div>
                        <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Register</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}   
{% endblock %}