{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %} <!-- Crispy forms load karein -->

<div class="container-fluid py-4">
    <div class="row">
        {% include 'sidebar.html' %}

        <div class="col-md-8 col-lg-9">
            <div class="row justify-content-center mt-3">
                <div class="col-md-8">
                    <div class="card shadow border-0">
                        <div class="card-header bg-dark text-white">
                            <h4 class="mb-0">Edit Patient Details</h4>
                        </div>
                        <div class="card-body p-4">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form | crispy }}

                                <div class="d-flex justify-content-between mt-4">
                                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
                                    <button type="submit" class="btn btn-warning text-dark font-weight-bold">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}