<div class="col-md-3 col-lg-2 mb-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-dark text-white text-center py-3">
            <h5 class="mb-0">Hospital {{ user }}</h5>
        </div>
        
        <!-- Dashboard Link -->
        <div class="list-group list-group-flush">
            <a href="{% url 'dashboard' %}" class="list-group-item border-0 font-weight-bold {% if request.resolver_match.url_name == 'dashboard' %} bg-warning text-white {% else %}  text-dark {% endif %}">
                Dashboard
            </a>
        </div>
        
        <div class="list-group list-group-flush">
            <a href="{% url 'dashboard' %}" class="list-group-item text-dark border-0 font-weight-bold">
                User
            </a>
        </div>
        
        <!-- Add Patient Link -->
        <div class="list-group list-group-flush">
            <a href="{% url 'add_patient' %}" class="list-group-item border-0 font-weight-bold {% if request.resolver_match.url_name == 'add_patient' %} bg-warning text-white {% else %} text-dark {% endif %}">
                Add Patient
            </a>
        </div>
        
        <!-- Logout Link -->
        <div class="list-group list-group-flush">
            <a href="{% url 'logout' %}" class="list-group-item bg-danger text-white border-0 font-weight-bold">
                Logout
            </a>
        </div>
    </div>
</div>