<div class="col-md-3 col-lg-2 mb-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-dark text-white text-center py-3">
            <h5 class="mb-0">Hospital {{ user.first_name }}</h5>
        </div>
        
        <!-- Dashboard Link -->
        <div class="list-group list-group-flush">
            <a href="{% url 'dashboard' %}" class="list-group-item border-0 font-weight-bold {% if request.resolver_match.url_name == 'dashboard' %} bg-warning text-white {% else %}  text-dark {% endif %}">
                Dashboard
            </a>
        </div>
        
        {% if perms.auth.view_user %}
        <div class="list-group list-group-flush">
            <a href="{% url 'users' %}" class="list-group-item border-0 font-weight-bold {% if request.resolver_match.url_name == 'users' %} bg-warning text-white {% else %}  text-dark {% endif %}">
                User
            </a>
        </div>
        
        
        <div class="list-group list-group-flush">
            <a href="{% url 'doctorsall' %}" class="list-group-item border-0 font-weight-bold {% if request.resolver_match.url_name == 'doctorsall' %} bg-warning text-white {% else %} text-dark {% endif %}">
                Doctors
            </a>
        </div>

        <div class="list-group list-group-flush">
            <a href="{% url 'story' %}" class="list-group-item border-0 font-weight-bold {% if request.resolver_match.url_name == 'story' %} bg-warning text-white {% else %} text-dark {% endif %}">
                Story
            </a>
        </div>

        <div class="list-group list-group-flush">
            <a href="{% url 'stats' %}" class="list-group-item border-0 font-weight-bold {% if request.resolver_match.url_name == 'stats' %} bg-warning text-white {% else %} text-dark {% endif %}">
                Stats
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a href="{% url 'contactUs' %}" class="list-group-item border-0 font-weight-bold {% if request.resolver_match.url_name == 'contactUs' %} bg-warning text-white {% else %} text-dark {% endif %}">
                Contact US
            </a>
        </div> 
        {% endif %}    
        <!-- Logout Link -->
        <div class="list-group list-group-flush">
            <a href="{% url 'logout' %}" class="list-group-item bg-danger text-white border-0 font-weight-bold">
                Logout
            </a>
        </div>
    </div>
</div>