{% extends 'base.html' %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <!-- Sidebar Navigation -->
        <!-- load the sidebar-->
        {% include 'sidebar.html' %}

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10">

            {% if perms.auth.views_user %}

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h2 mb-0">Story Overview</h1> 
                 <a href="{% url 'add_story' %}" class="btn btn-warning font-weight-bold text-dark shadow-sm">
                            Add new Story
                 </a> 
            </div>

            <!-- Dynamic Patients Table -->
            <div class="card shadow-sm border-0">
                <div class="card-header bg-light">
                    <h5 class="mb-0 text-dark">Story</h5>
                </div>
               
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Story Title</th>
                                <th>Story Discription</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in story %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ s.story_title }}</td>
                                <td>{{ s.story_discription }}</td>


                                <td class="text-center">
                                    <!-- Edit Button -->
                                    <a href="{% url 'edit_story' s.id %}" class="btn btn-sm btn-outline-primary me-2">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9" class="text-center py-4 text-muted">No Story</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <br>
            <br>
            <br>
            <h2>You do not have Permission to see this page</h2>
            {% endif %}

            <!-- Paginator Section -->
            
        </div>
    </div>
</div>




{% endblock %}